<!doctype html>
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7] <html class="no-js ie7 oldie" lang="en">
/[if IE 8] <html class="no-js ie8 oldie" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %link{:href => "/boilerplate/css/style.css", :rel => "stylesheet"}/
    %script{:src => "/boilerplate/js/libs/modernizr-2.0.6.min.js"}
  %body
    #container
      %header
        %div.header-logo
          %a{:href => "/"}
            %span.ir This text will be replaced by Droigen Logo
      #main{:role => "main"}
        %form#create-apk-form{:action => "/create", :enctype => "multipart/form-data", :method => "POST"}
          %fieldset
            %legend Your Blog Details
            %ol
              %li
                %label{:for => "url"} Feed URL:
                %input#url{:name => "url", :placeholder => "http://www.yourblog.com/feed", :required => "", :type => "url"}
          %fieldset
            %legend Android App Details
            %ol
              %li
                %label{:for => "app_name"} App Name:
                %input#app_name{:name => "app_name", :placeholder => "YourBlogName", :required => "", :type => "text"}
              %li
                %label{:for => "logo"} Logo:
                %input#logo{:name => "logo", :required => "", :type => "file"}
          %fieldset
            %button{:type => "submit"} Cook Your App
      %footer
        %div.footer-logo
          %p
            %em Powered by
          %a{:href => "http://multunus.com", :target => "_new"}
            %span.ir This text will be replaced by Multunus Logo
    / ! end of #container
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<\/script>')
      
      %script{:src => "js/plugins.js"}
      %script{:src => "js/script.js"}

      /[if lt IE 7 ]
        <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
        <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
